html {
  background-color: #f8f8ff;
}

body {
  background-color: #fff;
  font-size: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  padding: 5px 10px;
  color: #2a7acf;
  min-height: 85px;
  border-bottom: 2px solid #2a7acf;
}

main {
  color: #2a7acf;
}

/* Barra de navegação */
nav {
  font-size: 0.9em;
  float: right;
  clear: right;
  margin-top: 19px;
}

ul#mp {
  margin: 2px 0 0 0;
  padding: 14px 0;
  font-size: 1.2em;
}

ul#mp li {
  display: inline-block;
}

ul a {
  /* border-radius: 6px 6px 0 0; */
  font-weight: 400;
  color: #2a7acf;
  text-decoration: none;
  padding: 15px 10px;
}

ul#mp a:hover {
  background-color: #2a7acf;
  color: #fff;
}

/* CLASS */

.ativo {
  font-weight: 700;
  background-color: #2a7acf;
  color: #fff;
}

.icone-midia {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

/* ID */

#direita-header {
  float: right;
}

#logo {
  width: 175px;
  position: absolute;
}

#endr-midia {
  float: right;
  font-size: 0.75em;
  vertical-align: top;
}

/* Home */
/* Primeira linha */

#linha1 {
  background-image: url("../imagens/gradient.jpg");
  background-position: center;
  background-size: cover;
  float: left;
  height: auto;
}

#gradient-text {
  box-sizing: border-box;
  width: 45%;
  margin: 30px auto;
  padding: 0 8%;
  float: right;
  color: white;
  text-align: justify;
}

#gradient-text h2 {
  text-align: center;
  margin: 0;
}

/* Segunda linha */

#linha2 {
  display: table;
  width: 100%;
}

#tratamentos {
  box-sizing: border-box;
  display: table-cell;
  width: 50%;
  padding: 5% 2%;
  color: #2a7acf;
  font-size: 0.9em;
  background-image: url("../imagens/tratamentos.jpg");
  background-position: center;
  background-size: cover;
}

#tratamentos h2 {
  text-align: center;
}

#tratamentos p {
  margin-left: 15px;
}

#foto-tratamentos {
  display: table-cell;
  width: 50%;
  background-image: url("../imagens/sorriso.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#foto-tratamentos img {
  padding: 0;
  margin: 0;
  max-width: 50%;
  max-height: 300px;
}

/* Terceira linha */

#linha3 {
  height: 300px;
  border: 1px solid red;
}

/* Rodape */
footer {
  display: table;
  width: 100%;
  background-color: #e4f0fc;
  text-align: center;
  color: #2a7acf;
  font-size: 0.75em;
}

#rodape-esquerda {
  display: table-cell;
  box-sizing: border-box;
  padding: 5% 1%;
  width: 50%;
  text-align: left;
}

#rodape-dados {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-left: 1%;
}

#rodape-dados span {
  display: block;
}

#rodape-logo {
  float: left;
  width: 40%;
  box-sizing: border-box;
  border-right: 1px solid #2a7acf;
}

#rodape-logo img {
  float: right;
  padding-right: 2%;
  width: 125px;
  max-width: 100%;
}

#rodape-direita {
  display: table-cell;
  width: 50%;
  background-image: url("../imagens/mapa.jpg");
  background-position: center;
  background-size: 100%;
}

@media only screen and (max-width: 1000px) {
  #gradient-text {
    padding: 0 3%;
    width: 60%;
  }
}

/* Pagina tratamentos */
main#pagina-tratamentos {
  padding: 0 3%;
  font-size: 0.9em;
  width: 65%;
}

main#pagina-tratamentos div {
  padding: 0 2%;
}

main#pagina-tratamentos p {
  color: black;
}
