body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  padding: 5px 15px;
  color: #2a7acf;
}

/* Barra de navegação */
nav {
  font-size: 0.9em;
  float: right;
  clear: right;
}

#mp {
  margin: 2px 0 0 0;
  padding: 14px 0;
}

#mp li {
  display: inline-block;
}

#mp a {
  color: #2a7acf;
  text-decoration: none;
  padding: 14px 6px;
}

#mp a:hover {
  background-color: #2a7acf;
  color: #fff;
}

/* CLASS */

.icone-midia {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

/* ID */

#direita-header {
  float: right;
}

#logo {
  width: 40px;
  position: absolute;
}

#endr-midia {
  float: right;
  font-size: 0.75em;
  vertical-align: top;
}

/* Primeira linha */

#gradient {
  background-image: url("../imagens/gradient.jpg");
  background-position: center;
  background-size: cover;
  float: left;
  height: auto;
}

#gradient-text {
  box-sizing: border-box;
  width: 45%;
  margin: 50px auto;
  padding: 0 8%;
  float: right;
  color: white;
  text-align: justify;
}

#gradient-text h2 {
  text-align: center;
  margin: 0;
}

/* Segunda linha */

#linha2 {
  display: table;
  width: 100%;
}

#tratamentos {
  box-sizing: border-box;
  display: table-cell;
  width: 50%;
  padding: 2%;
  height: 330px;
  color: #2a7acf;
  font-size: 0.9em;
}

#tratamentos h2 {
  text-align: center;
}

#tratamentos p {
  margin-left: 15px;
}

#foto-tratamentos {
  display: table-cell;
  width: 50%;
  background-image: url("../imagens/sorriso.jpg");
  background-position: center;
  background-size: cover;
}



@media only screen and (max-width: 880px) {
    #gradient-text {
      padding: 0 3%;
      width: 50%;
    }
}

@media only screen and (max-width: 646px) {

}

@media only screen and (max-width: 420px) {
  #endr-midia > span {
    display: block;
  }

  #gradient-text {
    width: auto;
  }
  #gradient {
    background-position: right;
    background-size: 200%;
  }

  #tratamentos {
        display: block;
        width: 100%;
        float: left;
  }

  #foto-tratamentos {
        display: block;
        width: 100%;
        float: left;
  }
}

@media only screen and (max-width: 350px) {
  #mp {
    margin-right: 10px;
  }
  #mp a {
    padding: 14px 1px;
  }
}

@media only screen and (max-width: 496px) {

}
