body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1300px;
  min-width: 320px;
  margin: 0 auto;
}

header {
  padding: 5px 15px;
  color: #2a7acf;
}

/* Barra de navegação */
nav {
  font-size: 0.9em;
  float: right;
  clear: right;
}

#mp {
  margin: 2px 0 0 0;
  padding: 14px 0;
}

#mp li {
  display: inline-block;
}

#mp a {
  color: #2a7acf;
  text-decoration: none;
  padding: 14px 6px;
}

#mp a:hover {
  background-color: #2a7acf;
  color: #fff;
}

/* CLASS */

.icone-midia {
  height: 20px;
  width: 20px;
  vertical-align: text-top;
}

/* ID */

#direita-header {
  float: right;
}

#logo {
  width: 40px;
  position: absolute;
}

#endr-midia {
  float: right;
  font-size: 0.75em;
  vertical-align: top;
}

/* Primeira linha */

#gradient {
  background-image: url("../imagens/gradient.jpg");
  background-position: center;
  background-size: cover;
  float: left;
  height: auto;
}

#gradient-text {
  box-sizing: border-box;
  width: 45%;
  margin: 30px auto;
  padding: 0 8%;
  float: right;
  color: white;
  text-align: justify;
}

#gradient-text h2 {
  text-align: center;
  margin: 0;
}

/* Segunda linha */

#linha2 {
  display: table;
  width: 100%;
}

#tratamentos {
  box-sizing: border-box;
  display: table-cell;
  width: 50%;
  padding: 5% 2%;
  color: #2a7acf;
  font-size: 0.9em;
  background-image: url("../imagens/tratamentos.jpg");
  background-position: center;
  background-size: cover;
}

#tratamentos h2 {
  text-align: center;
}

#tratamentos p {
  margin-left: 15px;
}

#foto-tratamentos {
  display: table-cell;
  width: 50%;
  background-image: url("../imagens/sorriso.jpg");
  background-position: center;
  background-size: cover;
}

/* Terceira linha */

#linha3 {
  height: 300px;
  border: 1px solid red;
}

/* Rodape */
footer {
  display: table;
  width: 100%;
  background-color: #e4f0fc;
  text-align: center;
  color: #2a7acf;
  font-size: 0.75em;
}

#rodape-esquerda {
  display: table-cell;
  box-sizing: border-box;
  padding: 5%;
  width: 50%;
  text-align: left;
}

#rodape-dados {
  float: left;
  width: 50%;
}

#rodape-dados span {
  display: block;
}

#rodape-logo {
  float: left;
  width: 40%;
  margin-right: 10px;
  box-sizing: border-box;
  border-right: 1px solid blue;
}

#rodape-logo img {
  width: 40px;
}

#rodape-direita {
  display: table-cell;
  width: 50%;
  background-image: url("../imagens/mapa.jpg");
  background-position: center;
  background-size: 90%;
}



@media only screen and (max-width: 880px) {
  #gradient-text {
    padding: 0 3%;
    width: 50%;
  }
}

@media only screen and (max-width: 646px) {

}

@media only screen and (max-width: 480px) {
  #endr-midia > span {
    display: block;
  }

  #gradient-text {
    width: auto;
  }

  #gradient {
    background-position: right;
    background-size: 200%;
  }

  #tratamentos {
    display: block;
    width: 100%;
  }

  #foto-tratamentos {
    display: none;
    width: 100%;
    height: 300px;
  }

  #mp {
    margin-right: 10px;
  }
  #mp a {
    padding: 14px 1px;
  }

  #rodape-esquerda {
    display: block;
    width: 100%;
    height: 130px;
  }
  #rodape-direita {
    display: block;
    width: 100%;
    height: 200px;
  }
}


@media only screen and (max-width: 350px) {
}

@media only screen and (max-width: 500px) {

}
